.main {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  padding: 0 32px;
  text-align: center;
}

.main input {
  padding: 10px;
  width: 300px;
  margin: 1em 0;
}

.buttonGenerateBadge {
  margin-bottom: 1em;
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: #eee;
  cursor: pointer;
  border: solid 1px #1a1a1a;
}

.buttonGenerateBadge:hover {
  background-color: #444;
  border-color: #444;
}

.badgeContent {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.badgeContent .imgBadge {
  width: 20%;
  margin-bottom: 1em;
}

.badgeContent button svg:hover {
  fill: #777;
}

.copy {
  background-color: #242526;
  padding: 1em;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.copy code {
  width: 95%;
  color: #85d996;
}

.copy button {
  padding: 8px;
  background: rgba(25, 26, 27, .9);
  color: #eee;
  border: none;
  border-radius: 6px;
}

.copy button:hover {
  background: rgba(58, 58, 58, 0.9);
  border: none;
}

.toast {
  font-size: 16px;
  color: #333;
  background-color: #eee;
  border-left: 5px solid #3178C6;
  padding: 15px;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toast code {
  font-weight: bold;
  color: #3178C6;
}

.badgesPopular {
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.badgesPopular button {
  outline: none;
  margin: 0 3px;
  border: none;
  cursor: pointer;
  background: none;
}

.imgBadge {
  object-fit: contain; /* Isso mantém a imagem proporcional sem distorcer */
  width: 100%; /* Garantir que a imagem ocupe todo o espaço disponível */
  height: 100%; /* Garantir que a altura da imagem também seja proporcional */
}

@media screen and (max-width: 580px) {
  .badgesPopular {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .badgesPopular {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }

  .buttonGenerateBadge {
    background-color: #37393b;
    border-color: #37393b;
  }

  .toast {
    background-color: #37393b;
    color: #eee;
  }
}